@page
@model AddModel
@{
    ViewData["Title"] = "員工資料維護 (新增)";
}

<h2>@ViewData["Title"]</h2>
<h5>@Model.Message</h5>
<hr />

        <div class="container">
            <form class="row form">
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Name</label>
                    <input name="Name" class="form-control" type="text" placeholder="姓名">
                </div> <!-- /.form-group -->
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">PersonId</label>
                    <input name="PersonId" class="form-control" type="text" placeholder="身分證號">
                </div> <!-- /.form-group -->
                <div class="col-sm-4 col-xs-12 form-group">
                    <label class="sr-only">Password</label>
                    <input name="Password" class="form-control" type="text" placeholder="密碼">
                </div> <!-- /.form-group -->
                <div class="col-sm-12 col-xs-12">
                    <input class="btn btn-primary" type="submit" value="Send Message">
                </div>
            </form> 
        </div>

<hr />

