@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<button><a asp-page="./Employee/Index" asp-route-id="1" >Contact</a></button>
<button><a asp-page="./Employee/Add">新增</a></button>



    <div class="row">
        <div class="col-sm">
            <button>新增</button>
		    <button class="btn btn-default custom-btn-default">
                新增
            </button>
            <div class="alert alert-warning" role="alert">
                共有 2 筆員工資料
            </div>
        </div>
    </div>

    
